/* game board table */
body {
  background-color: lightgrey;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}

#game {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#board td {
  width: 10vh;
  height: 10vh;
  border: solid 1px #666;
  margin: 0;
  padding: 0;
}

/* pieces are div within game table cells: draw as colored circles */
#player-colors {
  display: flex;
  flex-direction: colugit mn;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px;
  width: 50vh;
  text-align: center;
  font-family: fantasy;
  font-size: large;
}

button {
  margin: 10px;
  font-family: fantasy;
  font-size: larger;
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* .piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px white;
}

#column-top td:hover {
  background-color: darkgrey;
}